.bgi{
    background-image: url(../assets/destination/background-destination-mobile.jpg)
}
@media (min-width: 1280px){
   .bgi{
        background-image: url(../assets/destination/background-destination-desktop.jpg)
    }
}
@media (min-width: 768px) { 
    .bgi{
        background-image: url(../assets/destination/background-destination-tablet.jpg)
    }
}
@media (min-width: 1024px) {
    .bgi{
        background-image: url(../assets/destination/background-destination-desktop.jpg)
    }
 }